{% extends "books/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
        <div class="panel panel-default "  style="margin-top:10px; align-items:center; margin-left:350px;width:50%;height:35% ">
            <div style="margin-left:15px;margin-right:15px">



                <form method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Book Update </legend>
                        {{ u_form| crispy }}

                        <input type="hidden" id="book_id" name="book_id" value="{{book.id}}">
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btm-outline-info "type="submit">Update</button>
                    </div>
                </form>

            </div>
        </div>

{% endblock content %}